
.dashboard-container {
  display: flex;
  background: #1e1e1e;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}


.dashboard-main {
  flex: 1;
  padding: 10px 30px 20px 30px;
  color: white;
  overflow-y: auto;
}

.dashboard-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 30px;
}

.dashboard-left {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.notifications-section {
  width: 35%;
}

.dashboard-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 10px;
}

.section-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 10px;
}


.stats-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px 30px;
}

.stat-card {
  background: linear-gradient(180deg, #6A1E5F, #C781B9);
  padding: 12px 20px;
  height: 65px;
  border-radius: 14px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.stat-card p {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
}

.stat-card h2 {
  font-size: 32px;
  margin: 0;
  font-weight: 900;
  text-align: right;
}


.tournaments-section {
  width: 100%;
  margin-top: 5px;
}

.tournaments-card {
  background: #3a3a3a;
  border-radius: 18px;
  padding: 14px 18px;
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #ffffff transparent;
}

.tournaments-card::-webkit-scrollbar {
  width: 8px;
}

.tournaments-card::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 10px;
}

.tournaments-table {
  width: 100%;
  border-collapse: collapse;
}

.tournaments-table tr:hover {
  background: rgba(106, 30, 95, 0.6); 
  cursor: pointer;
  color: #fff;
}

.tournaments-table th {
  text-align: left;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: 700;
  color: white;
}

.tournaments-table td {
  padding: 10px 14px;
  font-size: 14px;
  color: white;
}

.row-highlight {
  background: rgba(106, 30, 95, 0.6);
}

.notifications-card {
  background: #000000;
  border-radius: 20px;
  padding: 16px;
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
}

.notifications-card::-webkit-scrollbar {
  width: 6px;
}

.notifications-card::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 20px;
}

.notifications-table {
  width: 100%;
  border-collapse: collapse;
}

.notifications-table th {
  padding: 8px;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-align: left;
}

.notifications-table td {
  padding: 8px;
  font-size: 14px;
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.notifications-table tr:hover {
  background: #ffb683;
  cursor: pointer;
  color: #000;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #4aff87;
  border-radius: 50%;
  display: inline-block;
  margin-right: 8px;
}


.dashboard-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 30px;
}


.dashboard-left {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.notifications-section {
  width: 35%;
}


.dashboard-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 18px; 
}

.notifications-title {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 8px 0;
}


.notifications-card {
  background: #000000;
  border-radius: 20px;
  padding: 16px;
  height: 365px;      
  overflow-y: auto;
  overflow-x: hidden;

 
  scrollbar-width: thin;
  scrollbar-color: #ffffff transparent;
}





