
.detalle-modal-card {
  width: 45%;
  background: #000000;
  padding: 28px 35px;
  border-radius: 12px;
  border: none;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
  animation: fadeInCard 0.3s ease-out;
  color: white;
}

@keyframes fadeInCard {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.detalle-area {
  width: 100%;
  height: 95px;
  border-radius: 10px;
  margin-top: 5px;
  margin-bottom: 25px;
  border: none;
  background: #222;
  color: white;
  padding: 12px;
  resize: none;
  outline: none;
}

.acciones {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 20px;
}

.btn-approve {
  background: #00b300;
  border: none;
  color: #fff;
  padding: 10px 22px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.btn-reject {
  background: #b30000;
  border: none;
  color: #fff;
  padding: 10px 22px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.btn-cancel {
  background: #3a3a3a;
  border: none;
  color: white;
  padding: 10px 22px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.btn-cancel:hover {
  background: #505050;
}


.popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200000;
  background: #000;
  padding: 14px 32px;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  width: fit-content; 
  color: #ffffff;
  text-align: center;
  opacity: 0;
  animation: fadePopup 2.2s ease forwards;
}

@keyframes fadePopup {
  0% { opacity: 0; }
  10% { opacity: 1; }
  85% { opacity: 1; }
  100% { opacity: 0; }
}


.popup.success .icon {
  color: #00e62e;
}

.popup.reject .icon {
  color: #ff2b2b;
}


.popup .icon {
  font-size: 26px;
}
