
.register-container {
  display: flex;
  min-height: 100vh;
  background: #1e1e1e;
}

.register-main {
  flex: 1;
  padding: 40px 50px;
  color: white;
}


.register-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 8px;
}

.register-subtext {
  color: #cccccc;
  margin-bottom: 35px;
}


.register-box {
  width: 70%;
  background: #1e1e1e;
  padding: 40px;
  border-radius: 18px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 22px;
}

.form-row input,
.form-row select {
  flex: 1;
  background: #606060;
  border: none;
  padding: 14px 18px;
  border-radius: 10px;
  color: white;
  font-size: 16px;
}


.btn-right {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
}

.btn-submit {
  background: #93278f;
  color: white;
  padding: 12px 26px;
  border: none;
  border-radius: 12px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

.register-success-popup {
  position: fixed;
  top: 50%;             
  right: 80px;          
  transform: translateY(-50%);
  background: #000000;
  padding: 16px 26px;
  border-radius: 16px;   
  display: flex;
  align-items: center;
  gap: 10px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  z-index: 2000;

  opacity: 0;
  animation: fadeInOut 2.5s ease forwards;
}

.register-success-icon {
  font-size: 26px;
  color: #19cf32;       
}


@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-50%) translateX(10px); }
  10% { opacity: 1; transform: translateY(-50%) translateX(0); }
  90% { opacity: 1; transform: translateY(-50%) translateX(0); }
  100% { opacity: 0; transform: translateY(-50%) translateX(-10px); }
}

.btn-back {
  background: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}
