
.edit-container {
  display: flex;
  background: #1e1e1e;
  min-height: 100vh;
  color: white;
}

.edit-main {
  flex: 1;
  padding: 40px 50px;
}


.edit-title {
  font-size: 32px;
  font-weight: 700;
}

.edit-subtitle {
  margin-top: 5px;
  color: #ccc;
  font-size: 15px;
}


.edit-form {
  margin-top: 35px;
  background: #1e1e1e;
  padding: 35px;
  border-radius: 16px;
  width: 70%;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 18px;
}

.input-field {
  flex: 1;
  background: #5a5a5a;
  border: none;
  padding: 12px 18px;
  font-size: 16px;
  border-radius: 10px;
  color: white;
}

.input-field:disabled {
  opacity: 0.6;
}


.password-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  background: #5a5a5a;
  padding: 0 12px;
  border-radius: 10px;
}

.input-password {
  flex: 1;
  background: transparent;
  border: none;
  color: white;
  padding: 12px;
  outline: none;
}

.toggle-pass {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}


.btn-edit {
  background: #93278f;
  padding: 12px 22px;
  color: white;
  font-size: 18px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
}


.popup-edit {
  position: fixed;
  top: 20%;
  right: 5%;
  padding: 16px 25px;
  background: black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 17px;
  font-weight: 600;
  color: white;
  animation: fadeInOut 2.5s ease forwards;
  z-index: 2000;
}

.popup-edit .icon {
  font-size: 26px;
}

.success .icon {
  color: #19cf32;
}


@keyframes fadeInOut {
  0% { opacity: 0; transform: translateX(20px); }
  10% { opacity: 1; transform: translateX(0); }
  90% { opacity: 1; }
  100% { opacity: 0; transform: translateX(20px); }
}


.btn-back {
  background: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 6px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}